@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --maincolor:#2ec8a6;
    --secondcolor:#f8a803;
    --thirdcolor:#f4ab01;
    --textcolor:#4A5764;
}
*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    font-family: "Inter", sans-serif;
    
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    z-index: 1000;
    background-color: white !important;
    text-decoration: none;

}
.logo{
    width: 170px;
}
.logo img{
    width: 100%;
}
.navbar a{
    color: var(--textcolor);
    font-size: 1.7rem;
    margin: 1rem;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
}
.navbar a:hover{
    color: var(--maincolor);
}

.navbar a::after{
    content: "";
    background-color: var(--maincolor);
    width: 0;
    position: absolute;
    height: 0.2rem;
    left: 0;
    margin-top: 0.5rem;
    top: 100%;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}

#menu-bars{
    color: var(--textcolor);
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1rem;
    display: none;
}
#menu-bars:hover{
    color: var(--maincolor);
}
.right-icons .btn{

    padding: 1.2rem 2rem;
    font-size: 1.7rem;
    background: var(--maincolor);
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.right-icons .btn:hover{
    background-color: var(--secondcolor);
}



/* Home section */

.main-home{
    padding: 2rem 7%;
    background-image: url(../images/blurbg1.jpg);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6rem;
    flex-wrap: wrap;
    gap: 1rem;
}
.home .home-left-content{
    flex: 1 1 40rem;
}

.home-left-content span{
    font-size: 2rem;
    color: var(--maincolor);
    padding: 1rem 0;
    font-weight: bolder;
}
.home-left-content h2{
    font-size: 48px;
    margin: 1rem 0;
    
}
.home-left-content p{
    font-size: 1.7rem;
    color: var(--textcolor);
    line-height: 3rem;
}

/* Search Bar */
.search-bar {
    margin-left: 20px;
}

.search-bar-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px;
    /*background-color: #f9f9f9;*/
}

.search-icon i {
    color:#2ec8a6;
    margin-right: 10px;
    font-size: 1.2rem;
}

.search-control {
    border: none;
    outline: none;
    padding: 5px;
    width: 200px;
}


.home-btn{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
.home-btn a{
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    background-color: var(--maincolor);
    font-size: 1.7rem;
    color: white;
    transition: 0.5s ease;
}
.home-btn a:hover{
    padding: 1.5rem 2.5rem;
}


.homebtnsec{
    background:transparent !important;
    color: var(--textcolor) !important;
    border: 1px solid var(--maincolor);
}
.homebtnsec:hover{
    background-color: var(--secondcolor) !important;
    color: white !important;
}

.home .home-right-content{
    flex: 1 1 50rem;
}

.home .home-right-content img{
    width: 100%;
    margin-top: 4rem;
}

.inner-technology span{
    width: 0;
    height: 100%;
    background-color: var(--maincolor);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
    
}
.inner-technology:hover span{
    width: 100%;
} 


/* About us section  */
.main-about{
    padding: 2rem 7%;
    width: 100%;
    background-image: url(images/backgroung-pattern-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.main-about .about-heading{

    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: var(--maincolor);
    border-bottom: 2px solid var(--secondcolor);
    width: 200px;
    margin: 0 auto;
    padding: 2rem 0;

}
.inner-main-about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.about-inner-content-left{
    flex: 1 1 40rem;
}
.about-inner-content-left img{
    width: 90%;
    padding: 2rem;
}
.about-inner-content{
    flex: 1 1 45rem;
}
.about-inner-content img{
    width: 100%;
}
.about-right-content h2{
    font-size: 30px;
    padding: 1.5rem 0;
    color: black;
    font-weight: bolder;
    line-height: 4rem;
}
.about-right-content p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
    color: var(--textcolor);
    font-family: "Inter", sans-serif;
    text-align: left;
    line-height: 2.5rem;
}
.aboutsec-content{
    line-height: 2.5rem !important;
}
.aboutbtn{
    padding: 1.5rem 3rem;
    background-color: transparent;
    border: 1px solid var(--maincolor);
    margin-top: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.5s all;
}
.aboutbtn:hover{
    background-color: var(--secondcolor);
    color: white;
    border:none;
    padding: 1.5rem 3.5rem;
}

/* Contact Us Section */

/* Contact Us Section */
.main-contact {
    display: flex;
    justify-content: center;
    /*align-items: flex-start;*/
    padding:300px;
    margin-top: 20px;
    width: 100px;
    /*padding: 100px 0;*/
   
    
}

/* .contact-left, .contact-right {
    /*float: 1;*/
    /* float: left;
    width: 50%; */
    /*display: inline-block;} */

/* .contact-left iframe {
    width: 100%; /* Full width of the left container */
    /* height: 450px;
    border: 0;
    flex: 2; } */

.contact-right {
    background-color: #f9f9f9; 
    padding: 300px;
    border-radius: 8px; /* Optional: Rounding the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Shadow for a card effect */
}

.contact-head h3 {
    margin-bottom: 20px;
}

.form-element {
    margin-bottom: 15px;
    
    
}

.form-element label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-element input,
.form-element textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.btn-submit {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #218838;
}



#newsletter  {
    display: flex;
    margin-top: 50px;
   
    margin-left: 5px;
    margin-right: 5px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(https://i.postimg.cc/R0Bs4qqt/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #28a745;
    padding: 50px;
  }
  
  #newsletter h4{
    color: #fff;
    font-weight: 700;
    font-size: 22px;
  }
  
  #newsletter p{
    color: #000000;
    font-weight: 600;
    font-size: 14px;
  }
  
  #newsletter p span{
    color: #ffbd27;
    }
  
  #newsletter input{
    height: 3.125rem;
    width: 100%;
    font-size: 14px;
    padding: 0 1.25em;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-left-right-radius: 0; 
    border-left-right-radius: 0;
  }
  
  #newsletter .form{
    display: flex;
    width: 40%;
    
  }

  

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
  }
  
  
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 50px
  
  }
  
  footer .sec{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    
  }
  
  footer .logo{
    margin-bottom: 20px;
    width: 100px;
  }
  
  footer h4{
    font-size: 14px;
    padding-bottom: 20px
  }
  
  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  
  
  footer a{
    font-size: 13px;
    text-decoration: none;
    color: #28a745;
    margin-bottom: 10px;
  }
  
  footer .follow{
    margin-top: 20px
  }
  
  footer .follow i{
    color: #465b52;
    padding-right: 5px;
    cursor: pointer;
    
  }
  
  footer .follow i:hover, footer a:hover {
    color: #088178;
   
  }
  
  footer .install .row img{
    border: 1px solid #088178; 
    border-radius: 6px;
      
  }
  
  footer .install img{
    margin: 10px 0 15px 0
  }
  
  
  footer .copyright{
    width: 100%;
    text-align: center
     
  }
  
  
  @media (max-width: 920px) {
    
    .section-p1 {
      padding: 40px 40px  
    }
    
    #navbar{
    display: flex;
    flex-direction: column;   
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
      transition: 0.3s
      }
    
    #navbar.active{
    right: 0;
  }
  
    #navbar li{
      margin-bottom: 25px
    }
    
    #mobile{
  display: flex;
    align-items: center
  }
    #mobile i{
      font-size: 32px;
      color: #1a1a1a;
      padding-left: 20px
    }
    body #lg-bag{
      display: none
    }
    
    #close{
    display: initial;
    position: absolute;
    top: -280px;
    left: 20px;
    color: #222;
    font-size: 32px;  
  }
    
    #lg-bag{
      display: none
    }
    
    .quantity{
      top: 15px;
    left: 83%;
    }
     
    #hero{
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%
   }
  
    #feature {
    justify-content: center;
      
  }
    
    #feature .fe-box {
      margin: 15px 15px
    }
    
    #product1 .pro-container{
      justify-content: center
    }
    
    #product1 .pro{
      margin: 15px;
    }
    
    #banner{
      height: 25vh
    }
    
    #sm-banner .banner-box{
      min-width: 100%;
      height: 30vh;
    }
    
    #banner3{
      padding: 0 40px
    }
    
    #banner3 .banner-box{
      width: 28%
    }
    
    #newsletter .form {
      width: 70%
    }
    
  }
  
  @media (max-width: 477px) {
    .section-p1{
      padding: 20px
    }
    
    #header{
      padding: 10px 30px;
    }
    
    .quantity{
      top: 7px;
    left: 80%;
    }
    
    #hero{
      padding: 0 20px;
      background-position: 55%;
    }
    
    h2 {
      font-size: 30px
    }
    
    h1{
      font-size: 28px
    }
    
    p{
      line-height: 24px;
      font-size: 10px;
    }
    
    #hero button{
      margin-right: 10px
    }
    
    #feature{
      justify-content: space-between;
    }
    
    #feature .fe-box{
      width: 155px;
      margin: 0 0 15px 0;
    }
    
    #product1 .pro{
      width: 100%
    }
    
    #banner{
      height: 40vh;
    }
    
    #sm-banner .banner-box{
      height: 40vh;
  }
    
    #sm-banner .banner-box2 {
      margin-top: 20px;
    }
    
    #banner3{
      padding: 0 20px;
    }
    
    #banner3 .banner-box{
      width: 100%;
    }
    
    #newsletter .form{
      width:  100%
    }
    
    #newsletter{
      padding: 40px 20px;
    }
    
    footer .copyright{
      text-align: start;
    }
  }